streamlit
faiss-cpu
sentence-transformers
python-dotenv
transformers
pypdf
google-generativeai
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-google-genai
google-api-core
torch
tiktoken
