streamlit
faiss-cpu
sentence-transformers
python-dotenv
transformers
pypdf
google-generativeai
langchain==0.2.12
langchain-core==0.2.26
langchain-community==0.2.11
langchain-huggingface==0.0.5
langchain-google-genai==0.0.10
tiktoken
